@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Merriweather", serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 2;
  color: #5e493a;
}

body.vania-overflow {
  overflow-x: auto;
}

a {
  color: #fb6e14;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

a:hover,
a:focus,
a:active {
  color: #bf4c03;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  color: #000;
}

p {
  margin-bottom: 30px;
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Playfair Display", serif;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.btn.btn-md {
  padding: 10px 20px !important;
}

.btn.btn-lg {
  padding: 18px 36px !important;
}

.btn:hover,
.btn:active,
.btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: #fb6e14;
  color: #fff;
  border: 2px solid #fb6e14;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background: #f16104 !important;
  border-color: #f16104 !important;
}

.btn-primary.btn-outline {
  background: transparent;
  color: #fb6e14;
  border: 2px solid #fb6e14;
}

.btn-primary.btn-outline:hover,
.btn-primary.btn-outline:focus,
.btn-primary.btn-outline:active {
  background: #fb6e14;
  color: #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
  box-shadow: none;
}

#vania-home {
  min-height: 700px;
  background: #fff url(../images/loader.gif) no-repeat center center;
}

#vania-home .flexslider {
  border: none;
  position: relative;
  z-index: 1;
  margin-bottom: 0;
}

#vania-home .flexslider .vania-text {
  position: absolute;
  z-index: 3;
  width: 100%;
  top: 50%;
  margin-top: -212px;
  text-align: center;
}

#vania-home .flexslider .vania-text h1 {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  font-size: 300px;
  font-weight: 700;
  font-style: italic;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 992px) {
  #vania-home .flexslider .vania-text h1 {
    font-size: 100px;
  }
}

#vania-home .flexslider .vania-text h2 {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 2px;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  #vania-home .flexslider .vania-text h2 {
    font-size: 20px;
  }
}

#vania-home .flexslider .vania-text h2 span {
  font-family: "Playfair Display", serif;
  font-style: italic;
  text-transform: none;
}

#vania-home .flexslider .vania-text h2 a {
  color: #fb6e14;
}

#vania-home .flexslider .slides li {
  background-repeat: no-repeat;
  background-size: cover;
}

#vania-home .flexslider .vania-overlay {
  position: absolute;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .5;
  background: #000;
}

#vania-home .flexslider .flex-control-nav,
#vania-home .flexslider .flex-direction-nav {
  display: none;
}

.vania-main-nav {
  position: relative;
  background: #fff;
}

.vania-main-nav.vania-shadow {
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
}

.vania-main-nav:before,
.vania-main-nav:after {
  content: "";
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background: #e6e6e6;
}

.vania-main-nav:before {
  top: 2px;
}

.vania-main-nav:after {
  bottom: 2px;
}

.vania-main-nav .vania-menu-1,
.vania-main-nav .vania-menu-2,
.vania-main-nav .vania-logo {
  vertical-align: middle;
  float: left;
  line-height: 0;
}

.vania-main-nav .vania-menu-1 a,
.vania-main-nav .vania-menu-2 a,
.vania-main-nav .vania-logo a {
  padding: 35px 10px;
  color: #130d08;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
}

.vania-main-nav .vania-menu-1 a:hover,
.vania-main-nav .vania-menu-1 a:focus,
.vania-main-nav .vania-menu-1 a:active,
.vania-main-nav .vania-menu-2 a:hover,
.vania-main-nav .vania-menu-2 a:focus,
.vania-main-nav .vania-menu-2 a:active,
.vania-main-nav .vania-logo a:hover,
.vania-main-nav .vania-logo a:focus,
.vania-main-nav .vania-logo a:active {
  outline: none;
  text-decoration: none;
}

.vania-main-nav .vania-menu-1 a.active,
.vania-main-nav .vania-menu-2 a.active,
.vania-main-nav .vania-logo a.active {
  color: #fb6e14;
}

.vania-main-nav .vania-menu-1 {
  text-align: right;
  width: 40.33%;
}

.vania-main-nav .vania-menu-1 a {
  vertical-align: middle;
}

.vania-main-nav .vania-logo {
  text-align: center;
  width: 19.33%;
  font-size: 40px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: italic;
}

.vania-main-nav .vania-logo a {
  position: relative;
  top: -5px;
  display: inline-block;
}

.vania-main-nav .vania-menu-2 {
  text-align: left;
  width: 40.33%;
}

/*--------------------------------------------------------------
# Brands
--------------------------------------------------------------*/
.brands {
  padding-top: 20px;
}

.brands .swiper-slide img {
  opacity: 0.5;
  transition: 0.3s;
  filter: grayscale(100);
  width: 8rem;
}

.brands .swiper-slide img:hover {
  filter: none;
  opacity: 1;
}

.brands .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.brands .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  background-color: #ddd;
}

.brands .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffc451;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/


#vania-featured {
  padding: 7em 0;
  background: #130d08 url(../images/wood_1.png) repeat;
}

@media screen and (max-width: 768px) {
  #vania-featured {
    padding: 5em 0;
  }
}

#vania-featured .vania-heading .heading {
  position: relative;
  padding-top: 30px !important;
  color: #fff;
}

#vania-featured .vania-heading .heading:before,
#vania-featured .vania-heading .heading::before {
  height: 64px;
  width: 64px;
  position: absolute;
  content: "";
  background: url(../images/icons/favorito.png) no-repeat;
  top: 0;
  left: 50%;
  margin-top: -50px;
  margin-left: -32px;
}

#vania-featured .vania-heading .sub-heading {
  color: #a99c92;
}

#vania-featured .vania-grid {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
}

#vania-featured .vania-grid h2 {
  font-size: 20px;
  margin-bottom: 0;
}

#vania-featured .vania-grid p {
  line-height: 1.6;
  font-size: 1.2rem;
  color: #222;
}

#vania-featured .vania-grid .pricing {
  font-size: 40px;
  display: block;
  padding-top: 20px;
}

#vania-featured .vania-grid .pricing:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  left: 50%;
  margin-left: -20px;
  background: #fb6e14;
}

#vania-featured .vania-grid .arrow-left:before,
#vania-featured .vania-grid .arrow-left::before {
  content: "";
  position: absolute;
  z-index: 999;
  top: 50px;
  left: 0;
  margin-left: -15px;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #f5f5f5;
}

@media screen and (max-width: 768px) {

  #vania-featured .vania-grid .arrow-left:before,
  #vania-featured .vania-grid .arrow-left::before {
    right: auto !important;
    left: 15px !important;
    top: 0 !important;
    margin-top: -15px !important;
    margin-left: 0px !important;
    border-top: none !important;
    border-left: 15px solid transparent !important;
    border-right: 15px solid transparent !important;
    border-bottom: 15px solid #f5f5f5 !important;
  }
}

#vania-featured .vania-grid .arrow-right:before,
#vania-featured .vania-grid .arrow-right::before {
  content: "";
  position: absolute;
  z-index: 999;
  top: 50px;
  right: 0;
  margin-right: -15px;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #f5f5f5;
}

@media screen and (max-width: 992px) {

  #vania-featured .vania-grid .arrow-right:before,
  #vania-featured .vania-grid .arrow-right::before {
    right: auto !important;
    left: 0 !important;
    margin-left: -15px !important;
    border-left: none !important;
    border-right: 15px solid #f5f5f5 !important;
  }
}

@media screen and (max-width: 768px) {

  #vania-featured .vania-grid .arrow-right:before,
  #vania-featured .vania-grid .arrow-right::before {
    right: auto !important;
    left: 15px !important;
    top: 0 !important;
    margin-top: -15px !important;
    margin-left: 0px !important;
    border-top: none !important;
    border-left: 15px solid transparent !important;
    border-right: 15px solid transparent !important;
    border-bottom: 15px solid #f5f5f5 !important;
  }
}

#vania-featured .vania-grid>.vania-v-half {
  width: 50%;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
  #vania-featured .vania-grid>.vania-v-half {
    width: 100%;
  }
}

#vania-featured .vania-grid>.vania-v-half .vania-text {
  background: #f5f5f5;
}

#vania-featured .vania-grid>.vania-v-half .vania-special-1 {
  background: #faebcd;
}

#vania-featured .vania-grid>.vania-v-half .vania-special-1.arrow-left:before,
#vania-featured .vania-grid>.vania-v-half .vania-special-1.arrow-left::before {
  border-right: 15px solid #faebcd;
}

@media screen and (max-width: 768px) {

  #vania-featured .vania-grid>.vania-v-half .vania-special-1.arrow-left:before,
  #vania-featured .vania-grid>.vania-v-half .vania-special-1.arrow-left::before {
    border-left: 15px solid transparent !important;
    border-right: 15px solid transparent !important;
    border-bottom: 15px solid #faebcd !important;
  }
}

#vania-featured .vania-grid>.vania-v-half>.vania-v-col-2 {
  width: 50%;
  padding: 20px;
  position: relative;
}

#vania-featured .vania-grid>.vania-v-half>.vania-v-col-2.vania-bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (max-width: 768px) {
  #vania-featured .vania-grid>.vania-v-half>.vania-v-col-2.vania-bg-img {
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  #vania-featured .vania-grid>.vania-v-half>.vania-v-col-2 {
    width: 100%;
  }
}

#vania-featured .vania-grid>.vania-v-half>.vania-h-row-2 {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
}

#vania-featured .vania-grid>.vania-v-half>.vania-h-row-2>.vania-v-col-2 {
  width: 50%;
  position: relative;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  #vania-featured .vania-grid>.vania-v-half>.vania-h-row-2>.vania-v-col-2 {
    width: 100%;
  }
}

#vania-featured .vania-grid>.vania-v-half>.vania-h-row-2>.vania-v-col-2.vania-bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (max-width: 768px) {
  #vania-featured .vania-grid>.vania-v-half>.vania-h-row-2>.vania-v-col-2.vania-bg-img {
    height: 200px;
  }
}

#vania-featured .vania-grid>.vania-v-half>.vania-h-row-2.vania-reversed .vania-bg-img {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
}

@media screen and (max-width: 992px) {
  #vania-featured .vania-grid>.vania-v-half>.vania-h-row-2.vania-reversed .vania-bg-img {
    position: relative;
    right: inherit;
    top: inherit;
    bottom: inherit;
  }
}

/*--------------------------------------------------------------
# Type of products
--------------------------------------------------------------*/


#vania-type {
  padding: 7em 0;
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

#vania-type>.vania-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9;
}

#vania-type>.container {
  z-index: 10;
  position: relative;
}

#vania-type .vania-type {
  float: left;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #vania-type .vania-type {
    margin-bottom: 30px;
  }
}

#vania-type h3 {
  margin-bottom: 30px;
  font-style: italic;
  color: #fff;
  font-size: 40px;
  text-align: center;
  padding-top: 110px;
}

#vania-type h3.with-icon {
  position: relative;
}

#vania-type h3.with-icon:before,
#vania-type h3.with-icon::before {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -54px;
  margin-top: -125px;
  width: 104px;
  height: 104px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

#vania-type h3.with-icon.icon-1:before,
#vania-type h3.with-icon.icon-1::before {
  background: url(../images/icons/barra-de-chocolate.png) no-repeat center center;
}

#vania-type h3.with-icon.icon-2:before,
#vania-type h3.with-icon.icon-2::before {
  background: url(../images/icons/leite-em-po.png) no-repeat center center;
}

#vania-type h3.with-icon.icon-3:before,
#vania-type h3.with-icon.icon-3::before {
  background: url(../images/icons/morango.png) no-repeat center center;
}

#vania-type h3.with-icon.icon-4:before,
#vania-type h3.with-icon.icon-4::before {
  background: url(../images/icons/coco.png) no-repeat center center;
}

#vania-type p {
  color: rgba(255, 255, 255, 0.7);
}

/*--------------------------------------------------------------
# Menus Section
--------------------------------------------------------------*/

#vania-menus {
  padding: 7em 0;
}

@media screen and (max-width: 768px) {
  #vania-menus {
    padding: 5em 0;
  }
}

#vania-menus .vania-heading .heading {
  position: relative;
  padding-top: 30px !important;
}

#vania-menus .vania-heading .heading:before,
#vania-menus .vania-heading .heading::before {
  height: 64px;
  width: 64px;
  position: absolute;
  content: "";
  background: url(../images/icons/cardapio.png) no-repeat;
  top: 0;
  left: 50%;
  margin-top: -50px;
  margin-left: -32px;
}

#vania-menus .vania-heading .sub-heading {
  color: #a99c92;
}

#vania-menus .vania-food-menu {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  #vania-menus .vania-food-menu {
    margin-bottom: 30px;
    float: left;
    width: 100%;
    clear: none !important;
  }
}

#vania-menus .vania-food-menu h2 {
  margin-bottom: 50px;
  font-style: italic;
  position: relative;
}

#vania-menus .vania-food-menu h2.vania-chocolate {
  padding-left: 60px;
}

#vania-menus .vania-food-menu h2.vania-chocolate:before {
  background: url(../images/icons/barra-de-chocolate.png) no-repeat;
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 64px;
  height: 64px;
}

#vania-menus .vania-food-menu h2.vania-carrot {
  padding-left: 80px;
}

#vania-menus .vania-food-menu h2.vania-carrot:before {
  background: url(../images/icons/leite-em-po.png) no-repeat;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 65px;
}

#vania-menus .vania-food-menu h2.vania-strawberry {
  padding-left: 65px;
}

#vania-menus .vania-food-menu h2.vania-strawberry:before {
  background: url(../images/icons/morango.png) no-repeat;
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 64px;
  height: 64px;
}

#vania-menus .vania-food-menu h2.vania-coconut {
  padding-left: 80px;
}

#vania-menus .vania-food-menu h2.vania-coconut:before {
  background: url(../images/icons/coco.png) no-repeat;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 60px;
}

#vania-menus .vania-food-menu ul {
  padding: 0;
  margin: 0;
}

#vania-menus .vania-food-menu ul li {
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
  border-bottom: 1px dotted #ccc;
  display: block;
  float: left;
  width: 100%;
}

#vania-menus .vania-food-menu ul li .vania-food-desc {
  clear: both;
  float: left;
  width: 80%;
}

#vania-menus .vania-food-menu ul li .vania-food-desc>figure {
  width: 20%;
  float: left;
  position: relative;
  margin-right: 4%;
}

#vania-menus .vania-food-menu ul li .vania-food-desc>figure img {
  max-width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 0;
}

#vania-menus .vania-food-menu ul li .vania-food-desc>div {
  width: 75%;
  float: left;
  position: relative;
  font-size: 14px;
  line-height: 1.5;
}

#vania-menus .vania-food-menu ul li .vania-food-desc>div p {
  margin: 0;
}

#vania-menus .vania-food-menu ul li .vania-food-desc>div h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 20px;
  color: #000;
}

#vania-menus .vania-food-menu ul li .vania-food-pricing {
  float: right;
  width: 20%;
  text-align: right;
  font-size: 20px;
  color: #fb6e14;
}

/*--------------------------------------------------------------
# Event Section
--------------------------------------------------------------*/

#vania-events {
  padding: 7em 0;
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

#vania-events>.vania-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9;
}

#vania-events>.container {
  z-index: 10;
  position: relative;
}

#vania-events .vania-heading .heading {
  position: relative;
  padding-top: 30px !important;
  color: #fff;
}

#vania-events .vania-heading .heading:before,
#vania-events .vania-heading .heading::before {
  height: 64px;
  width: 74px;
  position: absolute;
  content: "";
  background: url(../images/icons/chefe-de-cozinha.png) no-repeat;
  top: 0;
  left: 50%;
  margin-top: -50px;
  margin-left: -24px;
}

#vania-events .vania-heading .sub-heading {
  color: #a99c92;
}

@media screen and (max-width: 768px) {
  #vania-events {
    padding: 5em 0;
  }
}

#vania-events .vania-event {
  background: #fff;
  padding: 50px;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}

#vania-events .vania-event:before {
  border: 2px solid #e6e6e6;
  content: "";
  position: absolute;
  top: 15px;
  bottom: 15px;
  right: 15px;
  left: 15px;
  z-index: 0;
}

#vania-events .vania-event h3,
#vania-events .vania-event .vania-event-meta,
#vania-events .vania-event p,
#vania-events .vania-event .btn {
  position: relative;
  z-index: 2;
}

#vania-events .vania-event h3 {
  padding: 0;
  margin: 0;
}

#vania-events .vania-event .vania-event-meta {
  margin-bottom: 20px;
  display: block;
  color: gray;
  position: relative;
  padding-bottom: 10px;
}

#vania-events .vania-event .vania-event-meta:after,
#vania-events .vania-event .vania-event-meta::after {
  background: #bfbfbf;
  background: #fb6e14;
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 40px;
  height: 2px;
  margin-left: -20px;
}

#vania-events .vania-event p {
  font-size: 16px;
  line-height: 1.8;
}

#vania-events .vania-event p:last-child {
  margin-bottom: 0;
}

#vania-events .vania-event .btn {
  margin-bottom: 0;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#vania-footer {
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  padding: 7em 0;
  z-index: 1;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.5);
}

#vania-footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#vania-footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: var(--light-color);
}

@media screen and (max-width: 768px) {
  #vania-footer {
    padding: 5em 0;
  }
}

@media screen and (max-width: 480px) {
  #vania-footer {
    height: inherit;
    position: relative;
  }
}

.vania-social {
  padding: 0;
  margin: 0;
}

.vania-social li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}

.vania-social li a {
  font-size: 30px;
  padding: 10px;
}

.vania-social li a i {
  font-size: 30px;
}

.vania-social li a:hover,
.vania-social li a:active,
.vania-social li a:focus {
  outline: none;
  text-decoration: none;
}


.vania-social {
  padding: 0;
  margin: 0;
}

.vania-social li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}

.vania-social li a {
  font-size: 30px;
  padding: 10px;
}

.vania-social li a i {
  font-size: 30px;
}

.vania-social li a:hover,
.vania-social li a:active,
.vania-social li a:focus {
  outline: none;
  text-decoration: none;
}

#vania-offcanvas,
#vania-container,
.vania-nav-toggle,
#vania-footer {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#vania-container,
.vania-nav-toggle,
#vania-footer {
  z-index: 2;
  position: relative;
}

#vania-offcanvas {
  display: block;
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 275px;
  background: rgba(0, 0, 0, 0.9);
  padding: 0.75em 1.25em;
  -moz-transform: translateX(-275px);
  -webkit-transform: translateX(-275px);
  -ms-transform: translateX(-275px);
  -o-transform: translateX(-275px);
  transform: translateX(-275px);
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}

#vania-offcanvas a {
  display: block;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  padding: 7px 0;
}

#vania-offcanvas a:hover,
#vania-offcanvas a:focus,
#vania-offcanvas a:active {
  outline: none;
  text-decoration: none;
  color: #fb6e14;
}

#vania-offcanvas a.active {
  color: #fb6e14;
}


@media screen and (max-width: 768px) {
  #vania-offcanvas {
    display: block;
  }
}

.offcanvas-visible #vania-offcanvas {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {

  #vania-container,
  #vania-footer,
  .vania-nav-toggle {
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
}

.offcanvas-visible #vania-container,
.offcanvas-visible #vania-footer,
.offcanvas-visible .vania-nav-toggle {
  -moz-transform: translateX(275px);
  -webkit-transform: translateX(275px);
  -ms-transform: translateX(275px);
  -o-transform: translateX(275px);
  transform: translateX(275px);
}

.js-sticky {
  display: block;
}

@media screen and (max-width: 768px) {
  .js-sticky {
    display: none;
  }
}
